.App {
  text-align: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}


.inputContainer {
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;

}


.label{
  margin-bottom: 10px !important;
  font-size: 15px;
}